p {color:black}

#p1 {color:red}

.styledFont {color:blue;font-weight:bold}

#p2 {color:blue}
#p3 {color:green}
#p4 {font-size:100px;}
#p5 {font-size:10px;}
#p6 {text-align:center}
h1 {text-align:center}
#p7 {font-weight:bold}
#p8 {font-family:sans-serif}
#p9 {font-size:100px;color:orange;font-weight:bold}
#styledImage {border-style:solid;color:red;border-width:100px}